$ cat .gitignore

# Can ignore specific files
*.geany
src/*.so

# Use wildcards as well
doc/*.bak
doc/*.stamp

# Can also ignore all directories and files in a directory.

test*/**/*
doc/xml*/**/*
doc/html*/**/*
doc/MyXml*/**/*
doc/c_src*/**/*
