$ cat .gitignore

# Can ignore specific files
*.geany
Makefile
**/cmake_install.cmake
**/CMakeCache.txt

# Use wildcards as well
doc/*.bak
doc/*.stamp

# Can also ignore all directories and files in a directory.

**/*.so*
**/CMakeFiles*/**/*
build*/**/*
test*/**/*
doc/xml*/**/*
doc/html*/**/*
doc/c_src*/**/*
